@import 'jeet'
@import 'nib'

@import '~purecss/build/base.css'
@import '~purecss/build/menus.css'
@import '~purecss/build/buttons.css'
@import '~purecss/build/forms.css'
//edit()

#application
  center(700px)
  height 200%
  background-color rgb(202, 60, 120)
  margin 50px 50px
  text-align center

.spash_txt
  border-radius 5px
  height 32px
  line-height 32px
  color white

.menu_txt
  color blue
